/* THIS IS YOUR CSS FILE */
header {
    background-color: #2F4F4F;
    background-size: cover;
    margin: 0;
    display: relative;
}
.container {
    padding: 15px;
}
.logo {
    background-color: #2F4F4F;
    margin-right: auto;
}
.name {
    font-family: monospace;
    color: white;
    font-size: x-large;

}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    list-style-type: #2F4F4F; 
    padding: .5em;
    margin: 0;
}
li {
    font-family: monospace;
    font-size: large;
    background-color: lightgray;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
}

li a:hover {
  background-color: cadetblue;
}

.active {
    background-color: coral;
    color: white;
}
body, html {
    height: 100%;
    margin: 0;
}
section {
    background color: antiquewhite;
    background position: relative;
    font-family: monospace;
    margin: 35px;
    padding: 0px 45px 0px 50px;
}
.samplework {
    float: left;
    margin: 0px 30px 90px 0px;
}
.footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F4F4F;
    color: white;
    font-family: monospace;
    text-align: center;
}